.yicon-authority .yicon-authority-info {
  padding: 20px 20px 0;
}

.yicon-authority .authority-search {
  float: right;
}

.yicon-authority .authority-search .authority-input {
  border: 1px solid #dfdfdf;
  width: 318px;
  height: 36px;
  line-height: 36px;
  float: left;
  padding: 0 10px;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 14px;
}

.authority-list-item {
  padding: 18px 30px 12px;
  width: 198px;
  border: 1px solid #eff2fb;
  margin: 20px 0 0 20px;
  display: inline;
  float: left;
  color: #212121;
  height: 70px;
}

.authority-list-item .prj-name {
  font-size: 18px;
  max-height: 44px;
  overflow: hidden;
}

.authority-list-item .prj-name span {
  line-height: 22px;
}

.authority-list-item .tool {
  position: relative;
  font-size: 14px;
  line-height: 28px;
}

.authority-list-item .tool .admin-name {
  margin-right: 8px;
}

.authority-list-item .tool .change-admin {
  color: #008ed6;
}

.authority-list-item .tool .tips {
  position: absolute;
  background-color: #fff8e5;
  border: 1px solid #ffe8a6;
  padding: 0 18px;
  height: 34px;
  line-height: 34px;
  left: 38px;
  top: -14px;
  font-size: 14px;
  border-radius: 3px;
}
