.icon-detail-item {
  width: 128px;
  margin: 16px 7px 0;
  display: inline-block;
  float: left;
  text-align: center;
}

.icon-detail-item > .info {
  padding: 13px;
  width: 72px;
  margin: 0 auto;
}

.icon-detail-item > .info .icon {
  font-size: 64px;
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  color: #555f6e;
}

.icon-detail-item > .info .icon .iconfont {
  font-size: 64px;
  vertical-align: top;
}

.icon-detail-item > .info .name {
  color: #616161;
  line-height: 16px;
}

.icon-detail-item > .info .code {
  color: #616161;
  line-height: 16px;
}

.icon-detail-item > .tool {
  margin-top: 3px;
  height: 30px;
  position: relative;
}

.icon-detail-item > .tool .copytip {
  position: absolute;
  background-color: #fff8e5;
  border: 1px solid #ffe8a6;
  padding: 0 18px;
  height: 34px;
  line-height: 34px;
  left: 0;
  top: -50px;
  font-size: 14px;
  border-radius: 3px;
}

.icon-detail-item > .tool .copytip .iconfont {
  font-size: 18px;
}

.icon-detail-item > .tool .tool-item {
  display: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 24px;
  overflow: hidden;
  background-color: #9e9e9e;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.icon-detail-item > .tool .tool-item:hover {
  background-color: #008ed6;
}

.icon-detail-item:hover .tool .tool-item {
  display: inline-block;
  margin-left: -3px;
}

.icon-detail-item:hover .info, .icon-detail-item.active .info {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 12px;
}

.icon-detail-item:hover .info .icon, .icon-detail-item.active .info .icon {
  color: #008ed6;
}

.options-btns {
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
}

.btns-default {
  border: 1px solid #ccc;
  color: #616161;
  background-color: #fff;
  padding: 0 25px;
}

.btns-blue {
  color: #fff;
  background-color: #008ed6;
  padding: 0 16px;
}

.btns-blue .iconfont {
  margin-right: 12px;
  font-size: 23px;
}

.btns-blue:hover {
  color: #fff;
}

.slider {
  float: right;
  margin-top: 12px;
  position: relative;
  margin-right: 53px;
  height: 2px;
  background-color: #cfcfcf;
  width: 202px;
  border-radius: 7px;
  border: 7px solid #f1f3f6;
}

.slider .slider-bar {
  height: 3px;
  background-color: #3bbaff;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}

.slider .slider-knob {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  line-height: 0;
  font-size: 0;
  background-color: #008ed6;
  cursor: pointer;
  position: absolute;
  left: 0;
  margin-top: -4px;
  margin-left: -7px;
}

.slider .cur-size {
  position: absolute;
  right: -50px;
  top: -7px;
  color: #616161;
  font-size: 16px;
  line-height: 16px;
}

.m-dialog {
  position: absolute;
  left: 50%;
  top: 10%;
  width: auto;
  border: 1px solid #cacacb;
  box-shadow: 5px 5px 5px #ccc;
  z-index: 99;
}

.pos1 {
  left: 0;
  top: 0;
}

.pos2 {
  top: 240px;
  left: 0;
}

.pos3 {
  left: 400px;
}

.myicon-dialog {
  background-color: #fff;
  min-width: 370px;
}

.myicon-dialog-title {
  margin: 0 24px;
  overflow: hidden;
  height: 62px;
  line-height: 62px;
  position: relative;
  border-bottom: 1px solid #ececec;
}

.myicon-dialog-title h4 {
  font-size: 18px;
  color: #616161;
  float: left;
}

.myicon-dialog-title .iconfont {
  font-size: 20px;
  float: right;
}

.myicon-dialog-content {
  padding: 0 24px;
}

.myicon-dialog-foot {
  padding: 16px 24px;
  background-color: #f9fafe;
  overflow: hidden;
}

.myicon-dialog-foot .options-btns {
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  font-size: 14px;
  float: right;
  margin-left: 8px;
}

.project-dialog {
  padding: 0 0 20px 0;
}

.project-dialog .project-form {
  color: #616161;
}

.project-dialog .project-form .field {
  margin-top: 20px;
  overflow: hidden;
  line-height: 36px;
}

.project-dialog .project-form .field-label {
  width: 74px;
  float: left;
  display: inline;
}

.project-dialog .project-form .field-set {
  font-size: 14px;
  float: left;
}

.project-dialog .project-form .field-set .project-name, .project-dialog .project-form .field-set .project-author, .project-dialog .project-form .field-set .project-collaborators {
  padding: 0 10px;
  width: 278px;
  border: 1px solid #dfdfdf;
  height: 36px;
}

.project-dialog .project-form .field-set .project-author .iconfont {
  float: right;
}

.project-dialog .project-form .field-btn {
  float: left;
  margin-left: 8px;
}

.project-dialog .project-form .field-btn .add-collaborators {
  padding: 0 20px;
  border: 1px solid #d2d2d2;
  height: 36px;
  font-size: 14px;
  color: #616161;
  background-color: #fbfbfb;
}

.project-dialog .project-form .collaborators {
  margin-top: 10px;
  overflow: hidden;
}

.project-dialog .project-form .collaborators-title {
  font-size: 14px;
  color: #616161;
  line-height: 34px;
}

.project-dialog .project-form .collaborators-list li {
  float: left;
  color: #616161;
  padding: 0 6px;
  background: #f1f3f6;
  margin-right: 6px;
  margin-top: 4px;
  border-radius: 3px;
  line-height: 26px;
  height: 26px;
}

.project-dialog .project-form .collaborators-list li .iconfont {
  font-size: 14px;
  float: right;
  cursor: pointer;
  vertical-align: top;
  margin-left: 2px;
}

.project-dialog .project-tips {
  font-size: 16px;
  padding: 20px 0;
  color: #616161;
}

.yicon-myicon-info {
  background-color: #fff;
  border-bottom: 1px solid #dadcde;
  box-shadow: 0 0 5px #dadcde;
}

.yicon-myicon-info-container {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.yicon-myicon-info-container .options .title {
  overflow: hidden;
  margin: 0 10px;
  float: left;
  display: inline-block;
}

.yicon-myicon-info-container .options .title > h2 {
  font-size: 24px;
  color: #344562;
  float: left;
}

.yicon-myicon-info-container .options .slider {
  margin-top: 0;
}

.yicon-myicon .panel {
  background: #f9fafe;
  overflow: hidden;
}

.yicon-myicon-main {
  width: 1080px;
  margin: 20px auto 0;
}

.yicon-myicon-main .myicon-prj-left {
  width: 216px;
  overflow-X: hidden;
  overflow-Y: auto;
  min-height: 620px;
  max-height: 620px;
  padding: 10px 0;
  float: left;
}

.yicon-myicon-main .myicon-prj-left li {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  padding: 0 0 0 34px;
}

.yicon-myicon-main .myicon-prj-left li:hover, .yicon-myicon-main .myicon-prj-left li.selected {
  background-color: #657289;
}

.yicon-myicon-main .myicon-prj-left li:hover a, .yicon-myicon-main .myicon-prj-left li:hover a:hover, .yicon-myicon-main .myicon-prj-left li.selected a, .yicon-myicon-main .myicon-prj-left li.selected a:hover {
  color: #fff;
}

.yicon-myicon-main .myicon-prj-right {
  width: 864px;
  float: right;
  background: #fff;
  min-height: 640px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info {
  padding: 20px 40px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details {
  overflow: hidden;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title {
  float: left;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title > h3 {
  font-size: 30px;
  color: #344562;
  float: left;
  line-height: 40px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title .count {
  font-size: 14px;
  color: #616161;
  padding-left: 10px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title .count .num {
  font-size: 24px;
  padding: 0 6px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title .powerby {
  color: #9e9e9e;
  padding-left: 14px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title .name {
  color: #9e9e9e;
  padding-left: 8px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title .tips {
  font-size: 20px;
  line-height: 40px;
  color: #344562;
  padding-left: 8px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .prj-details .title .return {
  font-size: 14px;
  color: #008ed6;
  line-height: 40px;
  padding-left: 10px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .options {
  background: #f9fafb;
  color: #008ed6;
  height: 37px;
  line-height: 37px;
  margin-top: 15px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .options span {
  padding: 0 15px;
  font-size: 14px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .tools {
  padding: 15px 0 24px;
  overflow: hidden;
  border-bottom: 1px solid #d8d9d9;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .tools .options-btns {
  float: left;
  margin-right: 10px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .tools .dropdown {
  float: left;
  margin-right: 10px;
  border: 1px solid #dfdfdf;
  height: 36px;
  line-height: 36px;
  color: #616161;
  padding: 0 10px;
  border-radius: 3px;
  font-size: 14px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .tools .dropdown .iconfont {
  color: #929aac;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .tools .fg {
  background: #dfdfdf;
  width: 1px;
  height: 38px;
  float: left;
  margin-right: 10px;
}

.yicon-myicon-main .myicon-prj-right .myicon-prj-info .tools .vs {
  float: left;
  font-size: 14px;
  font-style: normal;
  line-height: 38px;
  padding-right: 10px;
  color: #616161;
}

.yicon-myicon-main .myicon-prj-right .yicon-myicon-list {
  width: 865px;
}

.yicon-myicon-history .icon-detail-item .tool, .yicon-myiconvs .icon-detail-item .tool {
  visibility: hidden;
}

.yicon-myicon-history .icon-detail-item:hover .info, .yicon-myicon-history .icon-detail-item.active .info, .yicon-myiconvs .icon-detail-item:hover .info, .yicon-myiconvs .icon-detail-item.active .info {
  border: none;
  padding: 13px;
}

.yicon-myicon-history .icon-detail-item:hover .info .icon, .yicon-myicon-history .icon-detail-item.active .info .icon, .yicon-myiconvs .icon-detail-item:hover .info .icon, .yicon-myiconvs .icon-detail-item.active .info .icon {
  color: #555f6e;
}

.yicon-myiconvs-title {
  font-size: 16px;
  color: #616161;
  padding: 0 40px;
  line-height: 36px;
}

.yicon-myiconvs-title .iconfont {
  font-size: 18px;
  vertical-align: top;
}

.yicon-myiconvs .yicon-myiconvs-info {
  position: relative;
  padding-bottom: 20px;
}

.yicon-myiconvs .yicon-myiconvs-info .options {
  clear: both;
}

.yicon-myiconvs .yicon-myiconvs-info .operate-icon {
  float: left;
  font-size: 30px;
  color: #9e9e9e;
  margin-top: 40px;
}

.yicon-myiconvs .yicon-myiconvs-info:before {
  content: "";
  width: 780px;
  margin: 0 40px;
  border-bottom: 1px solid #d8dbdd;
  position: absolute;
  bottom: 20px;
  left: 0;
}
