@charset "utf-8";
@import "../style/module/icon-detail-item";
@import "../style/module/btn";
@import "../style/module/slider";

.yicon-myicon {
	&-info {
		background-color: #fff;
		border-bottom: 1px solid #dadcde;
		box-shadow: 0 0 5px #dadcde;

		&-container {
			width: 1100px;
			margin: 0 auto;
			padding: 20px 0;

			.options {
				.title{
					overflow: hidden;
					margin:0 10px;
					float: left;
					display: inline-block;
					>h2 {
						font-size: 24px;
						color: #344562;
						float: left;
					}
				}
				/*.search-result {
					color: #616161;
					overflow: hidden;
					float: left;
					display: inline-block;
					margin-left: 20px;
					font-size: 16px;
					&-count {
						color: #ff5555;
					}
				}*/
				.slider{
					margin-top: 0;
				}
			}

		}

	}

	&-main {
		width: 1100px;
		margin: 14px auto 0;

		.yicon-myicon-list {
			width: 1136px;
			margin-left: -18px
		}

	}

}